
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<label for="fname">Input: </label>
<input type="text" id="demo" name="fname" onchange="SubmitForm()">
<input type="submit" id="" value="Submit use JS">
<input type="submit" id="btnSubmit" value="Submit UseJquery" >


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/index.js"></script>

@*<script>
    function SubmitForm() {
        var temp = document.getElementById("demo").value;
        console.log(temp);
        alert(temp);
    }
</script>*@


